body {
  background-image: url(../assets/luke-chesser-3rWagdKBF7U-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
body #wrapper {
  width: 100%;
}
body #wrapper h1 {
  text-align: center;
  font-family: "Sofia", Times New Roman, Times, serif;
}

#listContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#listContainer #toDoBox {
  width: 70%;
  height: 400px;
  background-color: rgba(174, 219, 223, 0.171);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 6px 6px rgba(22, 22, 71, 0.103);
}
#listContainer #toDoBox #inputContainer {
  display: flex;
  justify-content: center;
}
#listContainer #toDoBox #inputContainer input {
  width: 50%;
  font-size: 14px;
  border-radius: 2px;
  height: 15px;
  border: none;
  padding: 10px;
}
#listContainer #doneBox {
  width: 70%;
  height: 400px;
  background-color: rgba(174, 219, 223, 0.171);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 6px 6px rgba(22, 22, 71, 0.103);
}

@media screen and (min-width: 768px) {
  #listContainer {
    height: 80vh;
    flex-direction: row;
    align-items: center;
  }
  #listContainer #toDoBox {
    width: 300px;
  }
  #listContainer #doneBox {
    width: 300px;
  }
}