html body {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(241, 143, 38, 0.6)), to(rgba(60, 15, 78, 0.651)));
  background: linear-gradient(rgba(241, 143, 38, 0.6), rgba(60, 15, 78, 0.651));
}

html body #wrapper {
  width: 100%;
}

#inputContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80px;
}

#inputContainer input {
  background-color: rgba(245, 245, 245, 0.74);
  width: 40%;
  font-size: 14px;
  height: 15px;
  border: none;
  padding: 10px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 5px 20px 10px rgba(0, 0, 0, 0.24);
          box-shadow: 0 5px 20px 10px rgba(0, 0, 0, 0.24);
}

#inputContainer button {
  height: 35px;
  background-color: rgba(245, 245, 245, 0.815);
  border: none;
}

#inputContainer button:hover {
  background-color: rgba(60, 15, 78, 0.336);
}

ul {
  margin: 0;
  padding: 0;
}

#listContainer {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

#listContainer #todoContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

#listContainer #todoContainer #headingContainerAdd {
  width: 70%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(252, 252, 252, 0.034);
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.089);
  padding: 20px;
  -webkit-box-shadow: 2px 25px 35px rgba(1, 1, 12, 0.308);
          box-shadow: 2px 25px 35px rgba(1, 1, 12, 0.308);
}

#listContainer #todoContainer #myAddsBox {
  width: 70%;
  min-height: 400px;
  background-color: rgba(252, 252, 252, 0.034);
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.089);
  padding: 20px;
  -webkit-box-shadow: 2px 25px 35px rgba(1, 1, 12, 0.308);
          box-shadow: 2px 25px 35px rgba(1, 1, 12, 0.308);
}

#listContainer #doneContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

#listContainer #doneContainer #headingContainerDone {
  width: 70%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(252, 252, 252, 0.034);
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.089);
  padding: 20px;
  -webkit-box-shadow: 2px 25px 35px rgba(1, 1, 12, 0.308);
          box-shadow: 2px 25px 35px rgba(1, 1, 12, 0.308);
}

#listContainer #doneContainer #doneBox {
  width: 70%;
  min-height: 400px;
  background-color: rgba(252, 252, 252, 0.034);
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.089);
  padding: 20px;
  -webkit-box-shadow: 2px 25px 35px rgba(1, 1, 12, 0.308);
          box-shadow: 2px 25px 35px rgba(1, 1, 12, 0.308);
}

h3 {
  text-align: center;
  font-size: 25px;
  font-family: "Sofia", Times New Roman, Times, serif;
}

li {
  display: block;
  list-style-type: none;
  font-size: 14pt;
  padding: 6px;
  letter-spacing: 3px;
}

li:hover {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  body {
    height: 100vh;
  }
  #inputContainer input {
    max-width: 200px;
  }
  #listContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #listContainer #todoContainer {
    width: 350px;
  }
  #listContainer #todoContainer #headingContainerAdd {
    width: 300px;
  }
  #listContainer #todoContainer #myAddsBox {
    width: 300px;
    height: 350px;
    overflow: scroll;
  }
  #listContainer #doneContainer {
    width: 350px;
  }
  #listContainer #doneContainer #headingContainerDone {
    width: 300px;
  }
  #listContainer #doneContainer #doneBox {
    width: 300px;
    height: 350px;
    overflow: scroll;
  }
}
/*# sourceMappingURL=main.css.map */