$box-bgcolor: rgba(252, 252, 252, 0.034);
$box-shadow: 2px 25px 35px rgba(1, 1, 12, 0.308);
$box-border: 2px solid rgba(255, 255, 255, 0.089);

html {
  body {
    background: linear-gradient(
      rgba(241, 143, 38, 0.6),
      rgba(60, 15, 78, 0.651)
    );
    #wrapper {
      width: 100%;
    }
  }
}

// Container för input och button
#inputContainer {
  display: flex;
  justify-content: center;
  height: 80px;
  input {
    background-color: rgba(245, 245, 245, 0.74);
    width: 40%;
    font-size: 14px;
    height: 15px;
    border: none;
    padding: 10px;
    margin-bottom: 30px;
    box-shadow: 0 5px 20px 10px rgba(0, 0, 0, 0.24);
  }
  button {
    height: 35px;
    background-color: rgba(245, 245, 245, 0.815);
    border: none;
  }
  button:hover {
    background-color: rgba(60, 15, 78, 0.336);
  }
}

ul {
  margin: 0;
  padding: 0;
}

// Container för mina todo/done Containers
#listContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  #todoContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    #headingContainerAdd {
      width: 70%;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $box-bgcolor;
      border-radius: 20px;
      border: $box-border;
      padding: 20px;
      box-shadow: $box-shadow;
    }
    #myAddsBox {
      width: 70%;
      min-height: 400px;
      background-color: $box-bgcolor;
      border-radius: 20px;
      border: $box-border;
      padding: 20px;
      box-shadow: $box-shadow;
    }
  }
  #doneContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    #headingContainerDone {
      width: 70%;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $box-bgcolor;
      border-radius: 20px;
      border: $box-border;
      padding: 20px;
      box-shadow: $box-shadow;
    }
    #doneBox {
      width: 70%;
      min-height: 400px;
      background-color: $box-bgcolor;
      border-radius: 20px;
      border: $box-border;
      padding: 20px;
      box-shadow: $box-shadow;
    }
  }
}

h3 {
  text-align: center;
  font-size: 25px;
  font-family: "Sofia", Times New Roman, Times, serif;
}

li {
  display: block;
  list-style-type: none;
  font-size: 14pt;
  padding: 6px;
  letter-spacing: 3px;
}
li:hover {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  body {
    height: 100vh;
  }

  #inputContainer {
    input {
      max-width: 200px;
    }
  }
  #listContainer {
    flex-direction: row;
    margin: 0 auto;
    align-items: center;

    #todoContainer {
      width: 350px;
      #headingContainerAdd {
        width: 300px;
      }
      #myAddsBox {
        width: 300px;
        height: 350px;
        overflow: scroll;
      }
    }

    #doneContainer {
      width: 350px;
      #headingContainerDone {
        width: 300px;
      }
      #doneBox {
        width: 300px;
        height: 350px;
        overflow: scroll;
      }
    }
  }
}
