$box-bgcolor: rgba(174, 219, 223, 0.171);
$box-shadow: 6px 6px rgba(22, 22, 71, 0.103);

body {
  background-image: url(../assets/luke-chesser-3rWagdKBF7U-unsplash.jpg);
  background-size: cover;
  background-position: center;
  //   height: 100vh;
  #wrapper {
    width: 100%;
    h1 {
      text-align: center;
      font-family: "Sofia", Times New Roman, Times, serif;
    }
  }
}

#listContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  #toDoBox {
    width: 70%;
    height: 400px;
    background-color: $box-bgcolor;
    border-radius: 20px;
    padding: 20px;
    box-shadow: $box-shadow;
    #inputContainer {
      display: flex;
      justify-content: center;
      input {
        background-color: rgba(245, 245, 245, 0.74);
        width: 50%;
        font-size: 14px;
        border-radius: 2px;
        height: 15px;
        border: none;
        padding: 10px;
        margin-bottom: 50px;
      }
      button {
        height: 35px;
      }
      // span {
      //   font-size: 20px;
      //   font-weight: bold;
      //   color: black;
      // }
      // #addButton {
      //   height: 15px;
      //   width: 15px;
      //   padding: 10px;
      //   background-color: rgba(69, 116, 81, 0.623);
      // }
      // #addButton:hover {
      //   background-color: rgba(6, 85, 26, 0.623);
      // }
    }

    ul {
      margin: 0;
      padding: 0;
    }
  }
  #doneBox {
    width: 70%;
    height: 400px;
    background-color: $box-bgcolor;
    border-radius: 20px;
    padding: 20px;
    box-shadow: $box-shadow;
  }
}
li {
  display: block;
  list-style-type: none;
  font-size: 14pt;
  padding: 6px;
  letter-spacing: 3px;
}

@media screen and (min-width: 768px) {
  #listContainer {
    height: 80vh;
    flex-direction: row;
    align-items: center;
    #toDoBox {
      width: 300px;
    }
    #doneBox {
      width: 300px;
    }
  }
}
